<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
      <div class="container">
            <h1>URL Shrinker</h1>
            <form action="/shortUrls" method="POST" class="my-4 form-inline">
                  <label for="fullUrl" class="sr-only"> URL</label>
                  <input class="form-control mr-2 col" required placeholder="Url" type="url" name="fullUrl" id="fullUrl">
                  <button class="btn btn-success" type="submit">Shrink</button>
            </form>

            <table class="table table-striped table-responsive">
                  <thead>
                        <tr>
                              <th>Full URL</th>
                              <th>Short URL</th>
                              <th>Clicks</th>
                        </tr>
                  </thead>
                  <tbody>
                        <% shortUrls.forEach(shortUrl => { %>
                              <tr>
                                    <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
                                    <td><a href="<%= shortUrl.short   %>"><%= shortUrl.short %></a></td>
                                    <td><a href="<%= shortUrl.clicks %>"><%= shortUrl.clicks %></a></td>
                              </tr>
                        <%  });  %> 
                  </tbody>
            </table>
      </div>

</body>

</html>